<h1>The books are</h1>
<hr>
<div class="flex">
<% for (var i=0; i<titleRes.length; i++) { %>
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header"><%= titleRes[i] %></div>
    <div class="card-body">
    <% for (var j=0; j<authorRes[i].length; j++) { %>
      <h5 class="card-title"><%= authorRes[i][j] %></h5>
    <% } %>
    <img src="<%= imageRes[i] %>" style="width:200px">
    </div>
  </div>
<% } %>
</div>
<pre>
    
</pre>